@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1700px;
  margin: 0 auto;
}

/* header */

/* visual */

/* value */

/* menu */

/* people */

/* room */

/* insta */

/* contents */

/* footer */